# Experiments in Betting on Tweets

Using the realDonaldTrump market.

Issues:

* [ ] Full days vs the fact that I'm often looking at half a day
* [ ] How far back do we draw from?

In [1]:
from pathlib import Path
import sys
from collections import Counter
import datetime

import pandas as pd
import matplotlib.pyplot as plt

In [7]:
from scipy.stats import wilcoxon, skew

In [5]:
#!{sys.executable} -m pip install scipy

Collecting scipy
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/dc/29/162476fd44203116e7980cfbd9352eef9db37c49445d1fec35509022f6aa/scipy-1.4.1-cp36-cp36m-manylinux1_x86_64.whl (26.1MB)
    100% |████████████████████████████████| 26.1MB 54kB/s  eta 0:00:01    66% |█████████████████████▍          | 17.4MB 12.7MB/s eta 0:00:01    71% |███████████████████████         | 18.6MB 21.2MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /home/heath/Projects/politics/trump_tweets/lib/python3.6/site-packages (from scipy)
Installing collected packages: scipy
Successfully installed scipy-1.4.1

In [2]:
tweet_path = Path("../data/realDonaldTrump.csv")
tweet_path.exists()

True

In [3]:
df = pd.read_csv(tweet_path)


df.index = pd.to_datetime(df['created_at'])

df = pd.DataFrame(df['id_str'])

df.columns = ['ID']

df.head()

                                      ID
created_at
2020-04-28 20:24:20  1255231394923646976
2020-04-28 20:14:31  1255228926428942339
2020-04-28 20:13:47  1255228739027456001
2020-04-28 14:43:53  1255145720136359945
2020-04-28 14:04:50  1255135893557403648

In [8]:
df_s = df[:df.iloc[0].name - datetime.timedelta(days=365)]

In [12]:
by_day = df_s.groupby(df_s.index.date).count()
daily_count = pd.DataFrame.from_dict(Counter(by_day["ID"]), orient='index', columns=['count']).sort_index()

In [13]:
daily_count

     count
2        3
3        5
4        1
5        3
6        6
..     ...
81       1
87       1
97       1
112      1
144      1

[71 rows x 1 columns]